/data
/models
*.txt
*.csv
*/.ipynb_checkpoints
/figures
.env
*/__pycache__
*/model_scripts/__pycache__
*/SweDeClin-BERT
*.out
/env
*/ner_util/__pycache__
!requirements.txt

# Exclude public data (individually)
!data_public/first_names_men.csv
!data_public/first_names_women.csv
!data_public/last_names.csv
!data_public/abbreviations.csv
!data_public/verksamheter.csv
!data_public/countries.csv
!data_public/gbg_districts.csv
!data_public/swedish_cities.csv





